/ProfileWorkareaExample_fall2025/ProfileWorkareaExample_fall2025/build/
/ProfileWorkareaExample_fall2025/ProfileWorkareaExample_fall2025/nbproject/private/
/ProfileWorkareaExample_fall2025/Lab5/nbproject/private/
