/ProfileWorkareaExample_fall2025/ProfileWorkareaExample_fall2025/build/
/ProfileWorkareaExample_fall2025/ProfileWorkareaExample_fall2025/nbproject/private/
/ProfileWorkareaExample_fall2025/Lab5/nbproject/private/
/ProfileWorkareaExample_fall2025/Lab5/build/
/Lab_4/build/
/BankAccountsApp/target/
/Lab2/ProfileWorkareaExample_fall2025/build/
/Lab2/ProfileWorkareaExample_fall2025/nbproject/private/
/Lab5/Lab5/build/
/Lab5/Lab5/nbproject/private/
/Lab_6_Skeleton/nbproject/private/
/Lab_6_Skeleton/build/
/Lab 7/nbproject/private/
/SocialMedia_Skeleton/nbproject/private/
/SocialMedia_Skeleton/build/
